:root {
    --logo-dark: #2f2d2e;
    --logo-blue: #258ee5;
    --logo-light: #d0d2d1;
}

/* scroll reveal */
.f, .f::before {
    opacity: 0;
    transform: translateY(-10px);
}
.f.show, .f.show::before {
    opacity: 1;
    transform: translateY(0);
    transition: all 1s ease-in-out;
}

/* responsive br */
br {
    display: inline;
}

@media (max-width: 700px) {
    br {
        display: none;
    }
}

/* icons */
.icon-header {
    font-size: 2.5rem;
    margin-bottom: 150px;
    color: var(--logo-blue);
}

/* body and canvas */
html {
    scroll-snap-type: y mandatory;
}

body {
    margin: 0;
    padding: 0;

    background: linear-gradient(to top left, #333333, #aaaaaa)!important;
    color: var(--logo-light)!important;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;

    z-index: -99;
    filter: blur(4px) brightness(0.6);
}

/* loader */
.loader {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;

    background: rgba(0, 0, 0, 0.75);
    z-index: 99;
}

.loader.hidden {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.loader .spinner-border {
    width: 3rem;
    height: 3rem;
}

/* pages */
.section {
    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: column;

    padding: 15px;
    scroll-snap-align: center;
}

.content {
    flex: 1 1 auto;
    width: 100%;
    padding-top: 25px;
}

.content.centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* first page: introduction */
.logo {
    height: auto;
    width: 8rem;
}

.avatar {
    width: 12rem;
    height: 12rem;
    padding: 5px;
    border-radius: 100%;

    background: linear-gradient(to top, var(--text-color), transparent 80%);

    margin-bottom: 20px;
}

.avatar img {
    height: 100%;
    width: 100%;
    border-radius: 100%;
}

.skip-btn {
    font-size: 1rem;
    height: 2em;
    width: 2em;

    border: none;

    background-color: var(--logo-blue)!important;
    border-radius: 100%!important;

    color: var(--logo-light);
    align-self: center;
}
